name: pnpm Example Workflow
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [14.x, 15.x, 16.x, 17.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - uses: actions/checkout@v2
    - uses: pnpm/action-setup@v2.0.1
      with:
        version: 7.0.0
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'
    - name: Install dependencies
      run: pnpm install
    - name: Install missing bad dependencies
      run: cd /packages/playground && pnpm install shorthash
    - name: Build
      run: pnpm --enable-pre-post-scripts --filter "@lloydjatkinson/astro-snipcart-playground" build
